/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box
 }
 
 body{
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
   margin: 33px;
    color: #333;
 }
 
 h1{
   font-size: 26px;
   margin: 17.42px 0px;
  
 }
 
 h2{
   font-size: 19.5px;
   margin: 16.185px 0px;
 }
.flash-message{
  
}

.flash-message.notice {
    margin: 33px;
    color: #008000;
  
}

.flash-message.alert{
   margin: 33px;
   color: red;
}

th{
  padding: 1px 1px 5px 1px;
}

td{
  padding: 1px 5px 7px; 
}
a{
  color: #000;
}

.new-book{
  margin-bottom: 10px;
}
.edit-book{
  margin-bottom: 10px;
}

/*.action{
  padding: 1px 6px;
  border: 2px;
}*/

p{
  margin: 33px;
}